img{
    border-bottom: 4px solid lightgreen;
}

body{
    /* background-color: rgb(68, 63, 63); */
    
}

@media only screen and (max-width: 600px) {
    img{
        height: auto;
        width: 90%;
        max-height: 100%;
    }
}